algotom==1.7.0
cmasher==1.9.2
h5py==3.15.1
magic-class==0.7.20
magicgui==0.10.1
matplotlib==3.10.8
napari==0.6.6
numba==0.63.1
numpy==2.3.5
pandas==2.3.3
pillow==12.0.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.2
PyWavelets==1.9.0
QtPy==2.4.3
scikit-image==0.26.0
scipy==1.16.3
tkinter_unblur==2.0.1
